body{
  background-color: #ECEECB;
}

h1{
  align-self: center;
  font-style: italic;
  color: #FFABFF
}
button{
  font-style: italic;
  font-variant: normal;
}
div.card{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.col-sm-6{
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-width: medium;
}
.row{
  padding-top: 30px
}
