body {
  padding-bottom: 3rem;
  background-color: #6A6E85
}
.carousel {
  margin-bottom: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #ffffff;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  min-width: 80%;
  position: absolute;
  width: 100%;
}
h1{
  font-style: italic;
  color: #FFABFF
}
p{
  font-size: 23vh
  font-style: italic;
  color: #000000
}
.rounded-circle{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
